.signup__form-role-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.signup__form-admin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.signup__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 800px;
    border-radius: 7px;
    padding : 2vh 0;
    margin: 2vh;
    
}