.signup__form-role-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.signup__form-admin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}