.user__add-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user__add-button {
    display: inline-block;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    background-color: darkgreen;
    padding: 1.5vh;
    box-shadow: 3px 3px rgb(17, 176, 75);
    margin: auto;
    text-align: center;
    margin : 2vh 0;
    text-transform: uppercase;
    text-decoration: none;
}

.user__container {
    margin: 4vh auto;
    width: 95vw;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    padding: 2vh;

}

.user__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
}

.user__header {
    font-size: 0.9rem;
    font-weight: bold;
}

.user__table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0.8vh;
    text-transform: uppercase;
    border-bottom: 1px solid darkgrey;
    padding: 0.6vh;
    
}

.user__tabl-img {
    width: 5vh;
    height: 5vh;
}

.user__email {
    width: 50%;
}

.user__role {
    width: 35%;
}

.user__delete {
    width: 15%;
}

.user__modal-confirmation {
    position: absolute;
    width: 70vw;
    max-width: 350px;
    height: 30vh;
    max-height: 500px;
    background-color: white;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(58,58,58);
    box-shadow: 3px 3px rgb(86, 86, 86);
}

.user__modal-text {
    color: white;
    font-weight: bold;
    padding: 3vh;
    text-align: center;
}

.user__answer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.user__answer {
    text-decoration: none;
    padding: 1vh;
    border-radius: 8px;
    background-color: rgb(101, 217, 122);
    box-shadow: 3px 3px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    font-size: 1.1rem;

}

.user__answer-no {
    background-color: rgb(22, 28, 123);
}