<%- include("partials/setup") %>
<%- include("partials/header") %>


<section class="triplist">
    <div class="tripform__title--container">
        <h2 class="tripform__title">Exporter les données</h2>
    </div>
    <form method="post">
    <div class="export__date-container">
        <input class="export__date" type="date" name="start">
        <input class="export__date" type="date" name="end">
    </div>
    <input type="submit" class="export__submit" name="" id="">
    </form>
</section>

        </main>
    </body>
</html>