<%- include("partials/setup") %>
<%- include("partials/header") %>

            <section class="home__container">
                <a href="/trip" class="home__option-container">Ajouter une traversée</a>
                <a href="/history" class="home__option-container">Historique</a>
                <% if(admin) { %>
                    <a href="/export" class="home__option-container">Exporter les données</a>
                    <a href="/users" class="home__option-container">Gérer les utilisateurs</a>
                <% } %>
            </section>
        </main>
    </body>
</html>