<%- include("partials/setup") %>
<%- include("partials/header") %>

            <section>
                <a href="/trip" class="home__option-container">Ajouter une traversée</a>
                <a href="/trip" class="home__option-container">Historique</a>
                <a href="/trip" class="home__option-container">Importer les données</a>
                <a href="/trip" class="home__option-container">Gérer les utilisateurs</a>
            </section>
        </main>
    </body>
</html>