<%- include("partials/setup") %>

    <div class="container">
        <div class="modal">
            <div class="login__title-container">
                <img src="./logo.png" alt="" />
                <div class="login__title-text">Intranet</div>
            </div>
            <p> </p>
            <form class="form" method="post">
                <div class="form__container-item">
                    <label class="form__label"> email</label>
                    <input class="form__input" id = "email">
                     
                </div>
                <div class="form__container-item">
                    <label class="form__label">mot de passe</label>
                    <input class="form__input"
                    type="password"
                    id = "password">
                </div>
                <button class="form__validate">Valider</button>
                <div class="form__forgot">Mot de passe oublié?</div>
            </form>
        </div>
        </div>
    </main>
</body>
</html>