<%- include("partials/setup") %>
<%- include("partials/header") %>
<script src="trip.js" defer></script>

<section class="tripform">
    <div class="tripform__title--container">
        <h2 class="tripform__title">Ajouter une traversée</h2>
    </div>
    
    <form class="tripform__form" method="post">
        <label class="tripform__label">Bateau</label> 
        <select name="boat" id="boat" class="tripform__select">
            <option class="tripform__option" value="Bréhatine">Bréhatine</option>
            <option class="tripform__option" value="ENEZ">Enez</option>
            <option class="tripform__option" value="KERPONT">Kerpont</option>
            <option class="tripform__option" value="CUPIDON">Cupidon</option>
            <option class="tripform__option" value="KEHOPS">Kehops</option>
        </select>
        <label class="tripform__label">Type de traversée</label>
        <select name="type_trip" id="type_trip" class="tripform__select">
            <option class="tripform__option" value="DIRECTE">Directe</option>
            <option class="tripform__option" value="TOUR">Tour de l'île</option>
            <option class="tripform__option" value="EXTÉRIEUR">Extérieur</option>
            <option class="tripform__option" value="AFFRÊTEMENT">Affrêtement</option>
        </select>
        <label class="tripform__label">Port</label>
        <select name="harbour" id="harbour" class="tripform__select">
            <option class="tripform__option" value="ARCOUEST">Arcouest</option>
            <option class="tripform__option" value="BRÉHAT">Bréhat</option>
            <option class="tripform__option" value="TOUR">Tour</option>
            <option class="tripform__option" value="ERQUY">Erquy</option>
            <option class="tripform__option" value="SAINT QUAY">Saint Quay</option>
            <option class="tripform__option" value="SAINT QUAY-BINIC">Saint Quay-Binic</option>
            <option class="tripform__option" value="TRIEUX">Trieux</option>
            <option class="tripform__option" value="PARC ÉOLIEN">Parc Éolien</option>
            <option class="tripform__option" value="ROUEN">Rouen</option>
        </select>
        <label class="tripform__label">Nombre de passagers</label>
        <input type ="number" name="quantity" class="tripform__input--passenger" required>
        <label class="tripform__label">Jour</label>
        <input type="date"  class="tripform__hours" name="day_trip" id="day_trip">
        <label class="tripform__label" value="14:30">Heure de départ</label>
        <input class="tripform__hours" type="time" id="departure" name="departure"required>
        <label class="tripform__label">Heure d'arrivée</label>
        <input class="tripform__hours" type="time" id="arrival" min="departure" name="arrival">
        <label class="tripform__label">Retard</label>
        <div>
            <label>
                <input type="radio" id="tripform__delay-yes" name="delay_trip" value="true">
                OUI
            </label>
            <label>
                <input type="radio" id="tripform__delay-no" name="delay_trip" value="false" checked>
                NON
            </label>
        </div>
        <label id="tripform_reasonLabel" class="tripform__label">Raison du retard</label>
        <input id="tripform_reasonInput" class="tripform__input" name="reason">
        <% if(locals.errMsg) { %>
            <p class="trip__errmsg"><%=locals.errMsg%></p>
        <% } %>
        <input class="tripform__validate" type="submit">
        
    </form>
</section>

        </main>
    </body>
</html>