<%- include("partials/setup") %>
<%- include("partials/header") %>
<script src="trip.js" defer></script>

<section class="tripform">
    <div class="tripform__title--container">
        <h2 class="tripform__title">Changer le mot de passe</h2>
    </div>
    
    <form class="tripform__form" method="post" >
        <label  class="tripform__label">Mot de passe</label>
        <input  class="tripform__input" type="password" id="password" name="password" minlength="8" required>
        <label  class="tripform__label">Confirmer le mot de passe</label>
        <input  class="tripform__input" type="password" id="password_conf" name="password_conf" minlength="8" required>
        <% if(locals.errorMessage) { %>
            <p class="errmsg"><%=errorMessage%></p>
        <% } %> 
        <input class="tripform__validate" type="submit">  
    </form>
</section>

        </main>
    </body>
</html>