<header class="navbar">
    <a href="/">
        <img src="/logo.png" class="navbar__logo" alt="">
    </a>
    <form method="post" action="/signout" >
        <input value="Se déconnecter" type="submit" class="navbar__logout">
    </form>
</header>
