.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background-color: rgb(58,58,58);
    color: white;

    
}