.tripline__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 0 2vh 0;
    margin: 1vh;
    border-bottom: 1px solid black;
    
    

}

.tripline__subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.tripline__subcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.tripline__info-logo {
    width: 7vw;
    max-width: 40px;
    height: 7vw;
    max-height: 40px;
    
    
}

.tripline__info-text {
    padding: 0.5vh;
    margin-right:0.7vh;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;

}

.tripline__info-text-background1 {
    background-color: #FFDCAE;
    border-radius: 7px;
}

.tripline__info-text-background2 {
    background-color: #CED89E;
    color:white;
    border-radius: 7px;
}

.tripline__info-text-background3 {
    background-color: #ADCF9F;
    border-radius: 7px;
    color:white;
}

.tripline__info-text-background4 {
    background-color: #76BA99;
    border-radius: 7px;
    color:white;
}

.tripline__subsubcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
}

.tripline__hours {
    font-size: 3vh;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
    .tripline__info-text {
        font-size: 20px;
    }
  }

